
<div class="oj-hybrid-padding">
  <h1>Lessons </h1>
  <div class="demo-card-container" style="width: 100%;">
    <oj-list-view id="lessonsListView" display="card" data="[lessonsDataProvider]">
      <template slot="itemTemp1" data-oj-as="row">
        <li class="demo-card">
          <oj-action-card>
            <dl>
              <dt>
               <span><img src="[[row.data.image]]"></span>
               <span class="oj-text-color-primary lesson-title">
               <oj-bind-text value="[[row.data.title]]"></oj-bind-text>
              </span>
              </dt>
              <br />
              <dd>
                <span class="oj-text-color-primary lesson-content">
                <oj-bind-text value="[[row.data.lesson]]"></oj-bind-text>
              </dd>
            </dl>

          </oj-action-card>

        </li>

      </template>

    </oj-list-view>
      
  </div>
</div>
